.left-side, .right-side {
  width: 50%;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1em;
  padding-left: 2em;
}

.App {
  text-align: center;
}

.element {
  color: brown
}

.element-ns {
  color: red
}

.element-name {
  color: blue
}

.selected {
  background-color: rgb(215, 180, 210);
}

/* .attribute {} */

.attribute-ns {
  color: darkred
}

.attribute-name {
  color: darkorchid
}

.attribute-value {
  color: darkgreen
}

.text {
  color: blueviolet
}

.text-body {
  color: black;
  padding-left: 2em;
}

.cdata {
  color: orangered
}

.cdata-body {
  color: darkorange
}

.comment {
  color: green;
}

.comment-body {
  color: darkgreen
}

.pi {
  color: olive
}

.pi-lang {
  color: darkcyan
}

.pi-body {
  color: green
}

/* .prefix {} */